@import "normalize";
@import "layout";
@import "elements";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
font:300 16px/1.5 "Lato",Arial,sans-serif;
color: #3c3c3c;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 700;
	letter-spacing: .16em;
	line-height: 1.3;
}
p{
	margin:0 0 0 0;
	text-align: center;
}
/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 940px;
}
.ba-header{
	background: #AAb5ca url(../img/hero-bg.jpg) 50% no-repeat;
	background-size: cover;
	text-align: center;
	color:#fff;
	padding:284px 0 384px;
	min-height: 100vh;
	font-size: 15px;
	letter-spacing: .06em;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 2;
	position: relative;
}
.ba-container--hero {
	max-width: 640px;
}
.ba-logo{
	display: inline-block;
	margin:0 0 70px;
}
.ba-header__title {
	text-transform: uppercase;
	letter-spacing: .16em;
	font-weight: 700;
	font-size: 54px;
	line-height: 1.3;
	margin:0 0 30px;
}
.ba-container--hero p{
	margin-bottom:25px;
}
.ba-scroll{
	display: block;
	width:23px;
	height: 35px;
	position: absolute;
	bottom:145px;
	left:50%;
	margin-left: -12px;
	background: url(../img/scroll.svg) 50% no-repeat;
	background-size:cover;
}
.ba-scroll:hover{
	opacity:.6;
}
/*About*/
.ba-about{
padding:160px 0;
font-size: 16px;
}
.ba-box{
	border: 2px solid #3c3c3c;
	border-width: 0 2px 2px;
	padding:70px 180px 26px;
	text-align:center;
	font-size: 17px;
	position: relative;
	line-height: 24px;
	font-weight: 300;
	letter-spacing: 0.05em;
}
.ba-text-center {
	margin-bottom: 0;
}
.ba-box .ba-text-center:first-of-type {
	margin-bottom:25px;
}

.ba-box:before,
.ba-box:after{
	display:block;
	content:"";
	position: absolute;
	height: 2px;
	background: #3c3c3c;
	width: 27%;
	top:0;
}
.ba-box:before {
	left:0;
}
.ba-box:after{
	right:0;
}

.ba-box__title{
	font-size:34px;
	text-transform: uppercase;
	position: absolute;
	left:12%;
	text-align: center;
	top:0;
	margin:0;
	width:76%;
	transform: translateY(-50%);
}
.ba-box--light, .ba-box--light:before,.ba-box--light:after {
	border-color:#fff;
}
.ba-box--light:before,.ba-box--light:after {
	background: rgb(117, 105, 105);
}
.ba-box--light p{
	margin-bottom: 0;
}
/*About*/
.ba-section{
	padding:130px 0 110px;
}
.ba-section--services {
	color:#fff;
	background: #AAb5ca url(../img/services.jpg) 50% no-repeat;
	background-size: cover;
}
.ba-list__title{
	padding-top:8px;
}
.ba-box-list {
	padding-top:40px;
	list-style: none;
	padding-left:10px;
}
.ba-box-list li {
	padding-bottom:70px;
font-size: 14px;
font-weight: 300;
line-height: 25.89px;
}
.ba-browse {
	text-align: center;
    padding: 0 40px 50px;
}


.ba-brose__img{
	position: relative;
	padding:5px;
}


.ba-brose__img a{
	height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.ba-menu-img--text {
    position: absolute;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
	justify-content: center;
	font-size: 34px;
font-weight: 700;
text-transform: uppercase;
text-align: left;
color: #ffffff;
}
.ba-menu-img--text:hover{
	opacity:.6;
}
.ba-button-hollow {
	background:  rgb(22, 21, 21);
text-decoration: none;
color: #ffffff;
padding: 20px 138px;
}
.ba-box--contact {
	padding-bottom: 60px;
}
.ba-contact__title {
	font-size: 30px;
font-weight: 700;
}
.ba-contact p {
	font-size: 16px;
font-weight: 300;
line-height: 25.89px;
}
.ba-footer {
	text-align: center;
	margin:40px 0;
}

